<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../css/style404.css" rel="stylesheet">
    <title>404</title>
</head>
<body>
<section class="main">
    <h2 class=" text animated rubberBand">404</h2>
    <p class="not-found">Página no encontrada</p>
</section>
<footer class="footer">
    <a href="/">Términos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
</footer>
</body>
</html>
